[user]
	name = tim-saki
	email = tim-saki@users.noreply.github.com
[color]
	ui = true
[alias]
	s = status
	ss = status --short --branch
	cm = commit
	cmm = commit -m
	df = diff
	dfc = diff --cached
	l = log
	ll = log --graph --decorate --oneline
        lls = log --graph --decorate --oneline --name-status
        lll = log --pretty=format:'%h %ad %an: %s' --date=short --graph
	lg = log --graph
	lp = log -p
	lps = log -p --stat
	pl = pull
	br = branch
	bra = branch -a
[push]
	default = simple
[include]
	path = .gitconfig.local
