[user]
	name = tim-saki
	email = tim-saki@users.noreply.github.com
[color]
	ui = true
[alias]
	s = status
	cm = commit
	cmm = commit -m
	df = diff
	dfc = diff --cached
	l = log
	gl = log --graph
[push]
	default = simple
[include]
	path = .gitconfig.local
